@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');

* {
   margin: 0;
   padding: 0;
   color: white;
}

*:focus {
   outline: none;
}


:root {
   --clr-light: #fff;
   --clr-dark: #01a5af;
   --clr-dark-filter: invert(45%) sepia(91%) saturate(2422%) hue-rotate(152deg) brightness(80%) contrast(99%);
   --clr-accent: #dadada;

   --ff-primary: 'Spartan', sans-serif;
   --ff-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
   background-image: url('/assets/bg-img.jpeg');
   background-size: cover;
   font-family: var(--ff-secondary);
   font-weight: 400;
}

.btn {
   margin-top: 2rem;
   margin-bottom: 20px;
   padding: 10px 20px;
   border-radius: 25px;
   width: 55%;
   background-color: black;
   color: white;
   font-size: 1.2rem;
   font-weight: 700;
   letter-spacing: 1.1px;
   border: 4px solid #01a5af;
}

.icon-btn {
   background-color: transparent;
   outline: none;
   border: none;
}

.delete-playlist-btn {
   filter: invert(45%) sepia(91%) saturate(2422%) hue-rotate(152deg) brightness(80%) contrast(99%);
}

h1, h2, h3 {
   font-family: var(--ff-primary);
   text-transform: uppercase;
}

a {
   text-decoration: none;
   color: var(--clr-light);
   cursor: pointer;
}

a:hover {color: var(--clr-light);}

li {list-style: none;}

#wrapper {
   display: grid;
   grid-template-columns: minmax(150px, 200px) 1fr;
   grid-template-rows: 100px 1fr 120px;
   grid-template-areas: 
   'header header'
   'playlists main'
   'player player'
   ;
   height: 100vh;
}

header {
   grid-area: header;
   display: flex;
   justify-content: space-around;
   background: #000;
   padding: 0 1rem;
}

.search-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.search-form {
   display: flex;
   flex-direction: row;
   justify-content: right;
   align-items: center;
   width: 550px;
}

.search-input {
   width: 60%;
   margin-top: 0rem;
   margin-left: 0.8rem;
}

.search-icon {
   filter: var(--clr-dark-filter);
   font-size: 2.8rem;
}

select {
   height: 50px;
   width: 100px;
   background-color: #01a5af;
   color: white;
   font-size: 1.1rem;
}

.btn-container {
   background-color: transparent;
   border: none;
}

.search-result-wrapper {
   background-color: rgba(0, 0, 0, 0.75);
}
.search-result-wrapper h2 {
   text-align: center;
   font-size: 1.3rem;
}

.song-list{
   padding:0 0 0 1rem;
}
.song-list li {
   display: grid;
   grid-template-columns: 60px auto 40px 40px;
   column-gap: 0.5rem;
   grid-template-areas: 
   'thumb title play plus'
   'thumb artist play plus'
   ;
   align-items: center;
   margin: 0 1rem 0.6rem 0;
}
.thumb-li {
   grid-area: thumb;
   border: none;
   outline: none;
   width: 60px;
   height: 60px;
}

.song-title-li {
   grid-area: title; 
   align-self: end; 
   font-weight: 500;
}
.artist-name-li {
   grid-area: artist; 
   align-self: start;
}

.play-pause-li-btn {
   grid-area: play; font-size: 2rem;
}

.add-to-playlist-li-btn {
   grid-area: plus; filter: var(--clr-dark-filter); font-size: 1.5rem;
}

main {
   grid-area: main;
}

#playlist-sidebar {
   grid-area: playlists;
   font-size:0.9rem;
   background-color: rgba(0, 0, 0, 0.5);
}

#playlist-sidebar ul {
   padding:0;
   margin: 0 1rem;
}
#playlist-sidebar ul li{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

#playlist-sidebar ul li a{
   color: var(--clr-accent);
}

.player-wrapper * {
   color: #000;
}
.player-wrapper {
   grid-area: player;
   display: grid;
   grid-template-columns: 3fr 2fr 3fr;
   grid-template-rows: 1fr 4fr;
   justify-items: center;
   align-content: center;
   background-color: var(--clr-dark);
   color: #000;
}

.progress-bar-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 70vw;
   gap: 1rem;
   font-size: 0.8rem;
   grid-column: 1 / 4;
   grid-row: 1 / 2;
}
.song-playing-details {
   grid-column: 1 / 2;
   grid-row: 2 / 2;
   justify-self: flex-start;
   align-content: flex-start;
   display: grid;
   grid-template-areas: 
   'thumb title'
   'thumb artist'
   ;
   font-size: 1rem;
   letter-spacing: -0.2px;
   margin: 0 0 0 0.8rem;
}
.song-playing-details .player-thumb {
   grid-area: thumb;
   border: none;
   width: 60px;
   height: 60px;
   margin-right: 0.8rem;
 }
 .song-playing-details .player-title {grid-area: title; align-self: flex-end; font-weight: 500;}
 .song-playing-details .player-artist {grid-area: artist; align-self: flex-start;}

.controls-wrapper{
   width: 100%;
   grid-column: 2 / 3;
   grid-row: 2 / 2;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-content: flex-start;
}

.controls-wrapper button {
   background: transparent;
   border: none;
   outline: none;
   font-size: 2rem;
}

.controls-wrapper button:hover {
   opacity: 60%;
}

.previous-btn {}
.play-pause-btn {}
.next-btn {}


.form-title {
   text-align: center;
   color: var(--clr-light);
   font-family: var(--ff-primary);
}

.form-container {
   background: rgba(0, 0, 0, 0.705);
   max-width: 500px;
   margin: 1rem auto;
   padding: 1rem 0;
}

.logo {
   display: block;
   margin: 5rem auto 0;
   width: 30%;
}

.logo-header {
   display: block;
   width: 250px;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input {
   border: none;
   width: 60%;
   height: 55px;
   padding: 0 20px;
   font-size: 1.2rem;
   margin-top: 1.5rem;
   border-radius: 25px;
   background-color: var(--clr-dark);
   color: var(--clr-light);
}

::placeholder {
   color: var(--clr-accent);
}



form span {
   color: var(--clr-dark);
   font-size: 18px;
   font-family: 'Helvetica';
}

.error {
   color: red;
}


