@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');

* {
   margin: 0;
   padding: 0;
   color: white;
}

*:focus {
   outline: none;
}

*, *::after, *::before {
   box-sizing: border-box;
 }

:root {
   --clr-light: #fff;
   --clr-dark: #01a5af;
   --clr-dark-filter: invert(45%) sepia(91%) saturate(2422%) hue-rotate(152deg) brightness(80%) contrast(99%);
   --clr-green-light: #5bc2c7;
   --clr-accent: #dadada;

   --ff-primary: 'Spartan', sans-serif;
   --ff-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
   background-image: url('/assets/bg-img.jpeg');
   background-size: cover;
   font-family: var(--ff-secondary);
   font-weight: 400;
   font-size: 12px;
}

.btn {
   margin-top: 2rem;
   margin-bottom: 20px;
   padding: 10px 20px;
   border-radius: 25px;
   width: 55%;
   background-color: black;
   color: white;
   font-size: 1.2rem;
   font-weight: 700;
   letter-spacing: 1.1px;
   border: 4px solid #01a5af;
}

.icon-btn {
   background-color: transparent;
   outline: none;
   border: none;
}

.delete-playlist-btn {
   filter: invert(45%) sepia(91%) saturate(2422%) hue-rotate(152deg) brightness(80%) contrast(99%);
}

h1, h2, h3, h4, h5 {
   font-family: var(--ff-primary);
   text-transform: uppercase;
}
h5{
   text-transform: none;
}

a {
   text-decoration: none;
   color: var(--clr-light);
   cursor: pointer;
}

a:hover {color: var(--clr-light);}

li {list-style: none;}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input {
   border: none;
   width: 60%;
   height: 2.4rem;
   padding: 0 1rem;
   font-size: 1rem;
   margin-top: 1.5rem;
   border-radius: 25px;
   background-color: var(--clr-dark);
   color: var(--clr-light);
}

#wrapper {
   display: grid;
   grid-template-columns: 42px 1fr;
   grid-template-rows: 100px 1fr 120px;
   grid-template-areas: 
   'header header'
   'playlists main'
   'player player'
   ;
   height: 100vh;
}

/* HEADER AND SEARCHBAR */
header {
   grid-area: header;
   display: flex;
   justify-content: space-around;
   background: #000;
   padding: 0 1rem;
}

.logo-header {
   display: block;
   width: 34%;
}


.search-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.search-form {
   display: flex;
   flex-direction: row;
   justify-content: right;
   align-items: center;
   width: 100%;
}

.search-input {
   width: 80%;
   margin-top: 0rem;
   margin-left: 0.3rem;
}

.search-icon {
   filter: var(--clr-dark-filter);
   font-size: 1.9rem;
}

select {
   height: 50px;
   width: 100px;
   background-color: #01a5af;
   color: white;
   font-size: 1.1rem;
}

.btn-container {
   background-color: transparent;
   border: none;
}

/* SEARCH RENDER */

.search-result-wrapper {
   background-color: rgba(0, 0, 0, 0.75);
}
.search-result-wrapper h2 {
   text-align: center;
   font-size: 1.3rem;
}
.song-list{
   padding:0 0 0 1rem;
}
.song-list li {
   display: grid;
   grid-template-columns: 60px auto 40px 40px;
   column-gap: 0.5rem;
   grid-template-areas: 
   'thumb title play plus'
   'thumb artist play plus'
   ;
   align-items: center;
   margin: 0 1rem 0.6rem 0;
}
.thumb-li {
   grid-area: thumb;
   border: none;
   outline: none;
   width: 60px;
   height: 60px;
}

.song-title-li {
   grid-area: title; 
   align-self: end; 
   font-weight: 600;
   font-size:1.1em;
}
.artist-name-li {
   grid-area: artist; 
   align-self: start;
   font-size:1em;
}

.play-pause-li-btn {
   grid-area: play; font-size: 2rem;
}

.add-to-playlist-li-btn {
   grid-area: plus; filter: var(--clr-dark-filter); font-size: 1.5rem;
}

main {
   grid-area: main;
   overflow: auto;
}

/* PLAYLIST */



.playlists-ul {
   padding: 0;
   margin: 0;
   
}
.playlists-ul li{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
}

.playlists-ul li a{
   font-size: 1rem;
}

/* ADD TO PLAYLIST MODAL */


.modal-add-to-playlist {
   margin: 4rem auto;
   width: 80%;
   height: 80%;
}

.modal-add-to-playlist .modal-content {
   background: var(--clr-dark);
   border-radius: 2rem;
}


.modal-add-to-playlist .modal-header {
   display: grid;
   grid-template-columns: 32px auto 32px;
   grid-template-rows: 1fr;
   font-family: var(--ff-primary);
   text-transform: uppercase;
}

.modal-add-to-playlist .modal-title {
   grid-column: 2 / 3;
   font-size: 1.2rem;
}

.modal-add-to-playlist .btn-close {
   grid-column: 3 / 4;
   filter: invert();
}

.add-to-playlist-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto auto auto;
   justify-items: center;
   align-items: center;
}

.add-to-playlist-wrapper h5 {
   grid-column: 1 / 3;
   font-size: 1rem;
   line-height: -2em;
   margin: 1rem 0 0.5rem 0;
}

.add-to-playlist-wrapper input {
   margin-top:0;
   width: 100%;
   background-color: #000;
}

.modal-btn {
   border-radius: 25px;
   background-color: black;
   color: white;
   font-size: 1.2rem;
   font-weight: 700;
   letter-spacing: 1.1px;
   border: 4px solid #fff;
   background-color: #5bc2c7;

   width: 70%;
   margin:0 0 0 0.5rem;
   font-size: 1em;
   text-align: center;
   padding: 0.7rem 0.7rem;
}
.select-dropdown {
   border: none;
   border-radius: 0.3rem;
   width: 11rem;
   text-align: center;
   font-size: 1rem;
   color: var(--clr-accent);
   background-color: #000;
}
.player-wrapper * {
   color: #000;
}
.player-wrapper {
   grid-area: player;
   display: grid;
   grid-template-columns: 3fr 2fr 3fr;
   grid-template-rows: 1fr 4fr;
   justify-items: center;
   align-content: center;
   background-color: var(--clr-dark);
   color: #000;
   z-index: 2000;
}

.progress-bar-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 70vw;
   gap: 1rem;
   font-size: 0.8rem;
   grid-column: 1 / 4;
   grid-row: 1 / 2;
}
.song-playing-details {
   grid-column: 1 / 3;
   grid-row: 2 / 2;
   justify-self: flex-start;
   align-content: flex-start;
   display: grid;
   grid-template-areas: 
   'thumb title'
   'thumb artist'
   ;
   font-size: 1rem;
   letter-spacing: -0.2px;
   margin: 0 0 0 0.8rem;
   white-space: nowrap;
   
}
.song-playing-details .player-thumb {
   grid-area: thumb;
   border: none;
   width: 60px;
   height: 60px;
   margin-right: 0.5rem;
 }
 .song-playing-details .player-title {
   grid-area: title; 
   align-self: flex-end; 
   font-weight: 500;
   font-size: 0.9em;
   overflow: hidden;
   
}
 .song-playing-details .player-artist {
    grid-area: artist; 
    align-self: flex-start;
    overflow: hidden;
    font-size: 0.7em;
}

.controls-wrapper{
   width: 100%;
   grid-column: 3 / 4;
   grid-row: 2 / 2;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-content: flex-start;
}

.controls-wrapper button {
   background: transparent;
   border: none;
   outline: none;
   font-size: 2rem;
}

.controls-wrapper button:hover {
   opacity: 60%;
}

.form-title {
   text-align: center;
   color: var(--clr-light);
   font-family: var(--ff-primary);
}

.form-container {
   background: rgba(0, 0, 0, 0.705);
   max-width: 500px;
   margin: 1rem auto;
   padding: 1rem 0;
}

.logo {
   display: block;
   margin: 5rem auto 0;
   width: 30%;
}




::placeholder {
   color: var(--clr-accent);
}



form span {
   color: var(--clr-dark);
   font-size: 18px;
   font-family: 'Helvetica';
}

.error {
   color: red;
}

.player-thumb {
  width: 60px;
  height: 60px;
}
.progressBar{
   width: 960px;
   height: 6px;
   margin: 1px;
   background-color: black;
}
.progressBar > div {
   height: 100%;
    background-color: #ffffff;
}
